@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-montserrat;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@keyframes blink {
  50% { opacity: 0; }
}
.blinking-cursor {
  animation: blink 0.7s steps(2) infinite;
}
